.table-hover tbody tr:hover {
    background-color: #f1f3f9;
    transition: 0.3s;
}

.card-header {
    background: linear-gradient(45deg, #4e54c8, #8f94fb);
    color: white;
}

.btn-circle {
    width: 35px;
    height: 35px;
    padding: 0;
    line-height: 35px;
    text-align: center;
}

.modal-header {
    background-color: #4e54c8;
    color: white;
}

.page-link {
    color: #4e54c8;
    cursor: pointer;
}

.page-item.active .page-link {
    background-color: #4e54c8;
    border-color: #4e54c8;
}